body{
   background-image: url("../images/fond_acceuil.png");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   overflow-x: hidden;
   padding-left: 20%;
}

h1{
    font-size: 1200%;
    margin: 0;
}

h3{
    margin: 0;
    font-size: 200%;
    display: block;
}

header .sub{
    margin-top: 10px;
    margin-left: 3px;
    display: block;
    align-self: center;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

figure{
   margin: 0;
}

/* menu PC*/

nav{
   display: block;
   position: fixed;
   background-color: #100a57;
   height: 100%;
   width: 20%;
   left: 0;
   top: 0;
}

nav a{
   color: #E60C05;
}

